In [1]:
import holidays
from holidays import Germany
import pandas as pd

In [2]:
# Let's set the date range
start_date = "2015-01-01"
end_date = "2023-12-31"

# Now, let's generate a date range for all days in the specified period
date_range = pd.date_range(start=start_date, end=end_date)

# Let's initialize the Germany holidays object for Berlin
berlin_holidays = Germany(years=range(2014, 2024), subdiv="BE", language="en_US")

In [3]:
# And, create a dataframe with the date range
holiday_df = pd.DataFrame({"Date": date_range})

# Let's also check if each date is a holiday in Berlin and get the holiday name
holiday_df["Holiday Name"] = holiday_df["Date"].apply(lambda x: berlin_holidays.get(x))
holiday_df["public_holiday"] = holiday_df["Holiday Name"].apply(lambda x: 1 if x else 0)

In [4]:
# Now, let's save the dataset to a CSV file
output_file = "berlin_public_holidays.csv"
holiday_df.to_csv(output_file, index=False)
print(f"The dataset has been saved as '{output_file}'.")

The dataset has been saved as 'berlin_public_holidays.csv'.

In [5]:
file_path = 'berlin_public_holidays.csv'

holiday = pd.read_csv(file_path)

In [6]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3287 non-null   object
 1   Holiday Name    88 non-null     object
 2   public_holiday  3287 non-null   int64
dtypes: int64(1), object(2)
memory usage: 77.2+ KB

In [7]:
holiday.head()

         Date    Holiday Name  public_holiday
0  2015-01-01  New Year's Day               1
1  2015-01-02             NaN               0
2  2015-01-03             NaN               0
3  2015-01-04             NaN               0
4  2015-01-05             NaN               0